.inventory .hardware td.col-img {
  width: 30px; }
.inventory .hardware th.col-class {
  text-align: left;
  width: 150px; }
.inventory .hardware th.col-info {
  text-align: left; }
.inventory .network th.col-dev {
  text-align: left; }
.inventory .network th.col-ip {
  text-align: left; }
.inventory .network th.col-mask {
  text-align: left; }
.inventory .network th.col-mac {
  text-align: left; }
.inventory .network td.col-dev {
  width: 100px; }
.inventory .network td.col-ip {
  width: 200px; }
.inventory .network td.col-mask {
  width: 150px; }
.inventory .network td.col-mac {
  width: 150px; }
